
# Version control
.git/
.gitignore

# Python artifacts
__pycache__/
*.py[cod]
*$py.class
*.so
.pytest_cache/
.coverage

# Development environments
.env
.venv
env/
venv/
pip-log.txt
**.env

# Build artifacts and packaging
build/
dist/
develop-eggs/
eggs/
*.egg-info/
sdist/
var/
wheels/

# Docker-specific files that are not needed in the final image
Dockerfile
docker-compose*.yml
.dockerignore
.docker/
